<div class="container">
  <div class="header-content">
    <button class="burger">
      <div></div>
    </button>
    <div class="mobile-nav">
      <a class="sidebar-item active" href="./index.html">
        <svg class="icon">
          <use xlink:href="./assets/images/icons.svg#home"></use>
        </svg>
        Главная
      </a>
      <a class="sidebar-item" href="./logs.html">
        <svg class="icon">
          <use xlink:href="./assets/images/icons.svg#logs"></use>
        </svg>
        Логи
      </a>
      <a class="sidebar-item" href="./users.html">
        <svg class="icon">
          <use xlink:href="./assets/images/icons.svg#users"></use>
        </svg>
        Пользователи
      </a>
      <a class="sidebar-item" href="./deposits.html">
        <svg class="icon">
          <use xlink:href="./assets/images/icons.svg#deposits"></use>
        </svg>
        Депозиты
      </a>
      <a class="sidebar-item" href="./payments.html">
        <svg class="icon">
          <use xlink:href="./assets/images/icons.svg#payments"></use>
        </svg>
        Выплаты
      </a>
      <a class="sidebar-item" href="./support.html">
        <svg class="icon">
          <use xlink:href="./assets/images/icons.svg#support"></use>
        </svg>
        Саппорт
      </a>
      <a class="sidebar-item" href="./promos.html">
        <svg class="icon">
          <use xlink:href="./assets/images/icons.svg#ticket"></use>
        </svg>
        Промокоды
      </a>
      <a class="sidebar-item" href="./statistics.html">
        <svg class="icon">
          <use xlink:href="./assets/images/icons.svg#chart"></use>
        </svg>
        Статистика
      </a>
      <a class="sidebar-item" href="./api.html">
        <svg class="icon">
          <use xlink:href="./assets/images/icons.svg#key"></use>
        </svg>
        API
      </a>
      <a class="sidebar-item" href="./settings.html">
        <svg class="icon">
          <use xlink:href="./assets/images/icons.svg#settings"></use>
        </svg>
        Настройки
      </a>
      
    </div>
    <div class="flex justify-end gap-16">
      <a href="#" class="header-item">
        <img class="user-image" src="https://placehold.co/40x40" alt="" />
        <p>UserName</p>
      </a>
      <a href="#" class="header-item"> 70% </a>
      <a href="./login.html" class="btn reset">
        <svg class="icon">
          <use xlink:href="./assets/images/icons.svg#logout"></use>
        </svg>
      </a>
    </div>
  </div>
</div>
