<a class="sidebar-item active" href="./index.html">
  <svg class="icon">
    <use xlink:href="./assets/images/icons.svg#home"></use>
  </svg>
  Главная
</a>
<a class="sidebar-item" href="#">
  <svg class="icon">
    <use xlink:href="./assets/images/icons.svg#logs"></use>
  </svg>
  Логи
</a>
<a class="sidebar-item" href="./users.html">
  <svg class="icon">
    <use xlink:href="./assets/images/icons.svg#users"></use>
  </svg>
  Пользователи
</a>
<a class="sidebar-item" href="./deposits.html">
  <svg class="icon">
    <use xlink:href="./assets/images/icons.svg#deposits"></use>
  </svg>
  Депозиты
</a>
<a class="sidebar-item" href="./payments.html">
  <svg class="icon">
    <use xlink:href="./assets/images/icons.svg#payments"></use>
  </svg>
  Выплаты
</a>
<a class="sidebar-item" href="#">
  <svg class="icon">
    <use xlink:href="./assets/images/icons.svg#support"></use>
  </svg>
  Саппорт
</a>
<a class="sidebar-item" href="./promos.html">
  <svg class="icon">
    <use xlink:href="./assets/images/icons.svg#ticket"></use>
  </svg>
  Промокоды
</a>
<a class="sidebar-item" href="./statistics.html">
  <svg class="icon">
    <use xlink:href="./assets/images/icons.svg#chart"></use>
  </svg>
  Статистика
</a>
<a class="sidebar-item" href="#">
  <svg class="icon">
    <use xlink:href="./assets/images/icons.svg#key"></use>
  </svg>
  API
</a>
<a class="sidebar-item" href="#">
  <svg class="icon">
    <use xlink:href="./assets/images/icons.svg#settings"></use>
  </svg>
  Настройки
</a>
